@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Hi+Melody&family=Noto+Sans+KR:wght@100..900&display=swap');
html, body {
    margin: 0 0 0 0;
    background: #f4f5f7;
    min-width: 100%;
    min-height: 100%;
}
.head {
    display: flex;
    width: 100%;
    height: 104px;
    align-items: center;
    position: relative;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #000000;
    justify-content:center;
}
.title {
    font-family: "Noto Sans KR", serif;
    width: 206px;
    height: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.img1 {
    width: 36px;
    height: 36px;
    margin: 0 0 0 auto;
    gap: 0px;
    opacity: 0px;
    position: relative;
    border-radius: 100%;
}
.flex1 {
    align-content: center;
    width: 115px;
    height: 149px;
    top : calc(40%);
    left: calc(60%);
    position: absolute; /* 독립적으로 위치 지정 */
    display: flex;
    flex-direction: column;
}
.flex2 > div {
    font-family: "Noto Sans KR", serif;
    width: 67px;
    height: 15px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
    width: Hug (115px) px;
    height: Hug (35px) px;
    padding: 10px 24px 10px 24px;
    gap: 8px;
    opacity: 0px;
    background: #d9d9d9;
}
.flex2 {
    position: relative;
    display: none;
    flex-direction: column;
    top: 8px;
    align-items: center;
}
.bodytitle {
    font-family: "Noto Sans KR", serif;
    width: 166px;
    height: 38px;
    margin: 161 auto 12;
    size: 32px;
    font-weight: 700;
    line-height: 38.19px;
    text-align: center;
}
.bodytext {
    font-family: "Noto Sans KR", serif;
    height: 18px;
    margin:0 auto 0 38%;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
    position: relative;
}
.img2 {
    width: 149px;
    height: 149px;
    margin-top: 22px;
    margin-left: 50%; /* 부모의 50% 지점 기준 */
    transform: translateX(-50%);
    align-items: center;
    background: #4646468c;
    border-radius: 100%;
}
.flex3 {
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 168px;
    margin: 10 auto 0;
    position: relative;
}
.emailtitle {
    font-family: "Noto Sans KR", serif;
    height: 18px;
    top: 26px;
    left: 19px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
    position: absolute;
}
.emailtext {
    font-family: "Noto Sans KR", serif;
    height: 17px;
    top: 60px;
    left: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
    position: absolute;
}
.nicknametitle {
    font-family: "Noto Sans KR", serif;
    height: 18px;
    top: 93px;
    left: 19px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
    position: absolute;
}
.inputbox {
    width: 355px;
    height: 33px;
    top: 119px;
    left: 19px;
    border-radius: 4px 4px 4px 4px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    border: 1px solid #000000;
    position: absolute;
}
.helper {
    font-family: "Noto Sans KR", serif;
    height: 15px;
    top: 152px;
    left: 19px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    position: absolute;
    color: #ff0000;
    display: none;
}
.button {
    font-family: "Noto Sans KR", serif;
    width: 355px;
    height: 33px;
    margin: 11 auto;
    border-radius: 4px 4px 4px 4px;
    background: #aca0eb;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    display: block;
    text-align: center;
}
.flex4 {
    font-family: "Noto Sans KR", serif;
    width: 327px;
    height: 41px;
    margin: 4 auto 0;
    gap: 0px;
    opacity: 0px;
}
.userout {
    width: 52px;
    height: 17px;
    top: 8px;
    left: 147px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: center;
    position: relative;
}
.button1 {
    width: Hug (102px) px;
    height: Hug (46px) px;
    margin: 61 auto 0;
    padding: 12px 20px 12px 20px;
    gap: 0px;
    border-radius: 30px 30px 30px 30px;
    border: none;
    opacity: 0px;
    background: #aca0eb;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
    position: relative;
    display: none;
}
#button1.active {
    opacity: 100%;
    display: block;
}

.modal_body {
    font-family: "Noto Sans KR", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 408px;
    height: 242px;
    border-radius: 12px 12px 12px 12px;
    background: #ffffff;
    position: relative;
    top: 40%;
    left: 40%;
}
.modal > h2 {
    font-family: "Noto Sans KR", serif;
    size: 24px;
    margin: 48px auto 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    text-align: center;
    text-decoration-skip-ink: none;
}
.modal > p {
    font-family: "Noto Sans KR", serif;
    margin: 24px auto 0px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-decoration-skip-ink: none;
}
#delcomment {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}
.modalbutton1 {
    background: #242424;
    color: white;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-decoration-skip-ink: none;
}
.modalbutton2 {
    background: #c4a5fa;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-decoration-skip-ink: none;
}
.flexbutton {
    font-family: "Noto Sans KR", serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flexbutton > button {
    font-family: "Noto Sans KR", serif;
    margin-top: 24px;
    width: 127px;
    height: 44px;
    gap: 0px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    text-decoration-skip-ink: none;
}
