@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Hi+Melody&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    background: #626262;
}
.head {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    border: 0px 0px 1px 0px;
    background-color: #a2a2a2;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
.title {
    font-family: 'Ownglyph_ParkDaHyun';
    width: 206px;
    height: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.back {
    position: absolute;
    width: 10.93px;
    height: 18.89px;
    left: calc(33%);
    gap: 0px;
    opacity: 0px;
}
.img1 {
    width: 36px;
    height: 36px;
    margin: 0 0 auto auto;
    gap: 0px;
    opacity: 0px;
    position: relative;
    border-radius: 100%;
}
.felx1 {
    align-content: center;
    width: 115px;
    height: 149px;
    top : calc(20%);
    left: calc(60%);
    position: absolute;
    display: flex;
    flex-direction: column;
}
.felx2 {
    position: relative;
    display: none;
    flex-direction: column;
    top: 8px;
    align-items: center;
}
.felx2 > div {
    font-family: 'Ownglyph_ParkDaHyun';
    width: 67px;
    height: 15px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
    width: Hug (115px) px;
    height: Hug (35px) px;
    padding: 10px 24px 10px 24px;
    gap: 8px;
    opacity: 0px;
    background: #d9d9d9;
}
.bodytitle {
    font-family: 'Ownglyph_ParkDaHyun';
    height: 31px;
    margin: 24px auto 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
}
.minititle {
    font-family: 'Ownglyph_ParkDaHyun';
    height: 21px;
    margin-top: 51px;
    margin-left: 33%;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    text-align: left;
}
.hr1 {
    width: 592px;
    height: 0px;
    margin-top: 16px;
    margin-left: auto;
    gap: 0px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    border: 1px solid #00000029;
}
.title1 {
    font-family: 'Ownglyph_ParkDaHyun';
    width: 544px;
    height: 23px;
    margin: 20px 34% 21px ;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.56px;
    text-align: left;
    border: none;
    color: white;
    background-color: #626262;
    overflow: hidden;
    white-space: nowrap;
}
.hr2 {
    width: 592px;
    height: 0px;
    gap: 0px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    border: 1px solid #00000029;
}
.minititle2 {
    font-family: 'Ownglyph_ParkDaHyun';
    height: 21px;
    margin: 26 auto 0 33%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    text-align: left;
}
.hr3 {
    width: 592px;
    height: 0px;
    margin: 16 auto 0;
    border: 1px 1px 1px 1px;
    border: 1px solid #00000029;
}
.parent{
    display: grid;
    place-items: center; /* 수평 및 수직 중앙 정렬 */
}
.content {
    font-family: 'Ownglyph_ParkDaHyun';
    width: 544px;
    height: 231px;
    margin: 24 34% 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    resize: none;
    text-align: left;
    border: none;
    color: white;
    background-color: #626262;
    overflow: hidden;
    white-space: nowrap;
}
::placeholder{
    color: #D3C9B5;
}
.hr4 {
    width: 592px;
    height: 0px;
    margin: 24px auto 2px;
    border: 1px 1px 1px 1px;
    border: 1px solid #00000029;
}
.helper {
    font-family: 'Ownglyph_ParkDaHyun';
    height: 15px;
    margin-left: 33%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #ff0000;
}
.flax1 {
    display: flex;
    flex-direction: column;
}
.good {
    font-family: 'Ownglyph_ParkDaHyun';
    height: 18px;
    margin-top: 9px;
    margin-left: 33%;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}
.flex2 {
    display: flex;
    flex-direction: row;
}
.flex2 > p {
    font-family: 'Ownglyph_ParkDaHyun';
}
.input {
    font-family: 'Ownglyph_ParkDaHyun';
    height: 29px;
    margin-left: 33%;
    border-radius: 4px 4px 4px 4px;
    border: 1px 1px 1px 1px;
}
.text1 {
    width: 68px;
    height: 17px;
    margin-top: 6px;
    margin-left: 12px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}
.enter {
    font-family: 'Ownglyph_ParkDaHyun';
    width: 355px;
    height: 33px;
    margin-top: 27px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 4px 4px 4px 4px;
    background: #000000;
    font-size: 14px;
    text-align: center;
    color: white;
    border: none;
}
